@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'termina', sans-serif;
  background: #f6f3ee;
  margin: 0;
  padding: 0;
}

.font-termina {
  font-family: 'termina', sans-serif;
}

.font-termina-regular {
  font-family: 'termina', sans-serif;
  font-weight: 400;
}

.font-termina-medium {
  font-family: 'termina', sans-serif;
  font-weight: 500;
}

.font-termina-bold {
  font-family: 'termina', sans-serif;
  font-weight: 700;
}

.font-termina-extrabold {
  font-family: 'termina', sans-serif;
  font-weight: 800;
}